VisualElement {}

.unity-base-dropdown {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Gotham%20Rounded%20Book%20SDF.asset?fileID=11400000&guid=0b5d8caed2cd22f4985589a5ffeb64a5&type=2#Gotham Rounded Book SDF");
    font-size: 28px;
    letter-spacing: -6px;
}